{% extends 'store/base.html' %}
{% block content %}

<form method="post" action="/update_emp">
    {% csrf_token %}
    <input type="hidden" name="staff_id" value="{{details.0}}">
    <input type="text" name="staff_name" value="{{details.1}}"><br>
    <input type="tel" name="contact" value="{{details.2}}"><br>
    <input type="text" name="address" value="{{details.4}}"><br>
    <input type="text" name="salary" value="{{details.3}}">
    <input type="submit" value="Update">
</form>

{% endblock content %}