{% extends 'store/base.html' %}
{% block content %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

{% if details %}
    <table>
        <tr>
            <th>Store ID</th>
            <th>Store Name</th>
        </tr>
        {% for row in details %}
        <tr>
            <td>{{row.store_id}}</td>
            <td>{{row.store_name}}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You don't have any staff with this id!</p>
{% endif %}

{% endblock content %}